/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
}

.input {
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    text-align: center;
}

.disabled {
    pointer-events: none;
    background: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .3);
}